header {
  background-color: rgb(7, 58, 81);
  background-image: none;
  border-bottom-color: rgb(38, 78, 97);
}

a {
  color: rgb(97, 202, 255);
  text-decoration-color: currentcolor;
}

h2 {
  color: rgb(103, 234, 169)
}
h3 {
  color: #159957
}

h4, h5, h6 {
  color: rgb(186, 180, 171);
}

.wrapper {
  color:rgb(178, 172, 162);
  background-color: rgb(43, 46, 48);
  background-image: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px, rgba(0, 0, 0, 0.45) 0px 3px 10px
}

strong {
  color: rgb(211, 207, 201)
}

html {
  background: #6C7989
}